#menu-bar {
	display: none;
}

header label {
	float: right;
	font-size: 28px;
	margin: 6px 0;
	/*para cuando pase el mouse aparezca la manito xd*/
	cursor: pointer;
}

.menu {
	position: absolute;
	/*empiece desde la esquina izquierda*/
	/*top 50 para que empiece debajo del menu*/
	top: 50px;
	left: 0;
	width: 100%;
	/*alto de la ventana*/
	height: 100vh;
	background: rgba(51,51,51,0.9);
	/*menu se muestre y se esconda xd*/
	/*como se desplaza*/
	transition: all 0.5s;
	transform: translateX(-100%);

}

.menu a {
	display: block;
	color: #fff;
	/*altura*/
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

/*cuando pase le mouse*/
.menu a:hover {
	background:  rgba(255,255,255,0.3);
}

/*para que funcione cuando le de click */
/*pseudo clase checked selecciona el menu */
#menu-bar:checked ~ .menu {
	transform: translateX(0%);
}
 
 /*tamaño para escritorio*/
@media (min-width: 1024px) {
	.menu {
		position: static;
		width: auto;
		height: auto;
		/*ya no se translade*/
		transform: translateX(0%);
		float: right;
		display: flex;
	}
	/*quitarle el border*/
	.menu  a {
		border: none;
	}
	/*quitar el icono de menu*/
	header label {
		display: none;
	}
}